@font-face {
	font-family: "Gabriela";
	src: url('./fonts/Gabriela/Gabriela-Regular.ttf');
}

@font-face {
	font-family: "Roboto";
	src: url('./fonts/Roboto_Slab/RobotoSlab-Regular.ttf');
}

@font-face {
	font-family: "Bloom_Gloss";
	src: url('./fonts/gloss_and_bloom/Gloss_And_Bloom.ttf');
}
/* ---------------------------Layout-------------------------------------*/
body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 450px;  
    grid-template-areas: 
        "head"
        "main"
        "foot";
    padding: 0;
    margin: 0;
    font-family: Gabriela;
    font-size: larger;
    
}
h1{
    font-size: 2rem;
}

header{
    grid-area: head;
    background-color: rgb(22, 22, 22);
    position: fixed;
    width: 100%;
    height: 50px;
    opacity: 0.9;
    z-index: 999;
}

main{
    grid-area: main;
    background-color: rgb(238, 234, 221);/*tan*/
}

footer{
    grid-area: foot;
    background-color: rgb(0, 0, 0);
}

.nav-list{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center; /* horizontal*/
    align-items: center; /* vertical*/
    height: 100%;
    
}

.nav-item{
    margin: 0 10px;
} 
.deco{
    text-decoration: none;
    color: rgb(228, 228, 228);
}
/* ---------------------bg color-------------------------------*/
.bg-color{
    background-color: rgb(216, 216, 216);
}

/* ----------------------------Show------------------------------------*/
#show-cont{
    background-color: black;
     /* left bot blur right*/
    box-shadow: 0 4px 6px 0 rgb(78, 78, 78);
    z-index: 10;
    
    
}

#show{
    width: 100%;
    max-height: 400px;
    
}

/* ----------------------------------------------------------------*/
.lay{
    padding: 0 10%;
    max-width: 800px;
    text-align: justify;
    margin-bottom: 2rem;
}

.title:before,.title:after{
    content: "\00a0\00a0\00a0\00a0\00a0";/*space*/

}
.title{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    display: flex;
    text-align: center;
   
}

.content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding: 1rem 0 3rem 0;
}

/* ----------------------------Articles------------------------------------*/
.artic{
    /* display: grid;
    grid-template-columns: 20% 20% 1fr 20%;
    grid-template-rows: 1fr; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 40px;
    justify-content: center;  
    align-content: center;
}

.artic-img{
    max-width: 250px;
    width: 100%;
    border-radius: 20px;
    margin-top: 5%;
    border: 1px solid black;
}

.artic-txt{
    max-width: 600px;
    height: 100%;
    flex: 1 1 400px;
    margin: 0 1rem; 
    text-align: justify;
}

.major{
    margin-top: -1rem;
    color: rgb(8, 50, 139);
    font-size: large;
}

/* ---------------------Gallery-------------------------------*/

.crea-area{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.crea{
    max-width: 500px;
    max-height: 350px;
    border-radius: 2%;
    min-width: 200px;
    width: 99%;
}

.just{
    text-align: center;
    margin-top: 0;
}

/* --------------------- Skills -------------------------------*/

.cat{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;    
}

.skills{
    width: 250px;
    margin: 1rem;

}

.separator{
    position: relative;
    left: 25%;
    width: 50%;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(161, 161, 161);
}

.skills > li{
    list-style: none;
    margin: 1rem 0 1rem -20px;
    
}
.center{
    text-align: center;
}

.score{
    float: right;

}

.score > img{
    width: 24px;
    padding: 0px;
    border: 1px solid gray;
}
/* ---------------------project-------------------------------*/
#proj-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 720px;
    
}

#proj-vid{
    width: 99%;
    height: 410px;
    margin: 2rem;
}


/* ---------------------Button by Chance Squires-------------------------------*/
/* https://codepen.io/chancesq/pen/abvjGpN */
.cus-btn {
    background: #222;
    color: #eee;
    min-height: 3rem;
    min-width: 150px;
    border-radius: 10px;
    font-size: 2rem;
    font-family: 'Bloom_Gloss';
    position: relative;
    display: flex;
    align-items: center; 
    justify-content: center;
    cursor: pointer;
    padding: 0 20px;
}
  
.cus-btn .circle {
    width: 5px;
    height: 5px;
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    transition: 1000ms;
}
  
.cus-btn:hover {
    background: rgb(128, 128, 128);
}

.cus-btn:hover .circle {
    height: 82%;
    width: 100%;
    left: 0;
    border-radius: 0;
    border-bottom: 2px solid #eee;
}

.cus-btn > a{
    text-decoration: none;
    color: #eee;
}