/* ---------------------------Fonts-------------------------------------*/
@font-face {
	font-family: "Gabriela";
	src: url('./fonts/Gabriela/Gabriela-Regular.ttf');
}

@font-face {
	font-family: "Roboto";
	src: url('./fonts/Roboto_Slab/RobotoSlab-Regular.ttf');
}

@font-face {
	font-family: "Bloom_Gloss";
	src: url('./fonts/gloss_and_bloom/Gloss_And_Bloom.ttf');
}
/* ---------------------------Layout-------------------------------------*/
html {
  scroll-behavior: smooth;
}
body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 200px;  
    grid-template-areas: 
        "head"
        "main"
        "foot";
    padding: 0;
    margin: 0;
    font-family: Roboto;
    font-size: clamp(1rem, 2vw, larger); 
    
}
h1{
    font-size: clamp(1.5rem, 2.5vw, 2.2rem);
    margin-bottom: 2rem; 
}
h2, h3{
    font-size: clamp(18px, 2vw, 1.5rem); 
}

header{
    grid-area: head;
    background-color: rgb(22, 22, 22);
    position: fixed;
    width: 100%;
    height: 50px;
    opacity: 0.9;
    margin-top: -1px;
    z-index: 999;
}

main{
    grid-area: main;
    background-color: #FFFAF0;/* tan*/
}

footer{
    grid-area: foot;
    background-color: rgb(0, 0, 0);

}

.footer-txt{
    text-decoration: none;
    color: rgb(124, 124, 124);
}

.nav-list{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center; /* horizontal*/
    align-items: center; /* vertical*/
    height: 100%;
    
}

.nav-item{
    margin: 0 10px;
} 
.deco{
    text-decoration: none;
    color: rgb(221, 221, 221);
}
/* ---------------------bg color-------------------------------*/
.bg-color{
    background-color: rgb(228, 228, 228);
}

/* ----------------------------Show------------------------------------*/
#show-cont{
    /* background-color: rgb(0, 0, 0); */
     /* left bot blur right*/
     margin-top: -1px;
    box-shadow: 0 4px 6px 0 rgb(78, 78, 78);
    z-index: 10;
    max-height: 400px;
    width: 100%;
    position: relative;
    background-color: black;
    overflow: hidden;

    
}

#show{
    height: auto;
    width: 100%;
    max-height: 400px;
    opacity: 0.9;
}

#show-png{
    max-height: 400px;
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    margin: 0;
    
}

/* ----------------------------------------------------------------*/
.lay{
    padding: 0 10%;
    max-width: 800px;
    text-align: justify;
    margin-bottom: 2rem;
    margin-top: 1rem;
    
}

.title:before,.title:after{
    content: "\00a0\00a0\00a0\00a0\00a0";/*space*/

}
.title{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    display: flex;
    text-align: center;
   
}

.content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding: 1rem 0 2rem 0;
}

/* ----------------------------Articles------------------------------------*/
.artic{
    /* display: grid;
    grid-template-columns: 20% 20% 1fr 20%;
    grid-template-rows: 1fr; */
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    margin-bottom: 40px;
    padding: 0 1%; 
}

.artic-img{
    height: 100%;
    border: 1px solid rgb(161, 161, 161);
    grid-column: 2/3;
    display: flex;
    align-items: center;
}


.artic-img  img{
    max-width: clamp(90px, 15vw, 150px);
    max-height: clamp(90px, 15vw, 150px);/*for ios*/
    height: 100%;
    width: 100%;
    border-radius: 20px;

}

.artic-txt{
    max-width: 600px;
    height: 100%;
    grid-column: 3/4;
    padding: 0 0 0 10px;
}

.major{
    margin-top: -1rem;
    color: rgb(8, 50, 139);
    font-size: clamp(1.1rem, 2vw, 1.3rem); 
}

.maj{
    color: rgb(26, 26, 26);
}


/* --------------------- Skills -------------------------------*/

.cat{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;    
}

.skills{
    width: 250px;
    margin: 1rem;

}

.separator{
    position: relative;
    left: 25%;
    width: 50%;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(161, 161, 161);
}

.skills > li{
    list-style: none;
    margin: 1rem 0 1rem -20px;
    
}
.center{
    text-align: center;
}

.score{
    float: right;

}

.score > img{
    width: 24px;
    padding: 0px;
    border: 1px solid gray;
}

/* ---------------------project-------------------------------*/
#proj-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 750px;
    
}

#proj-vid{
    width: 98%;
    height: clamp(270px,50vw ,415px);

    margin: 2rem;
}

/* ---------------------Gallery-------------------------------*/

.crea-area{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.crea{
    max-width: 600px;
    max-height: 500px;
    border-radius: 2%;
    min-width: 200px;
    width: 98%;
    height: auto;
    margin: 0 1% -5px 1%;

} 

/* ---------------------Button by Chance Squires-------------------------------*/
/* https://codepen.io/chancesq/pen/abvjGpN */
.cus-btn {
    background: #222;
    color: #eee;
    min-height: 3rem;
    min-width: 150px;
    border-radius: 10px;
    font-size: clamp(1.3rem, 2vw, 2rem);
    font-family: 'Bloom_Gloss';
    position: relative;
    display: flex;
    align-items: center; 
    justify-content: center;
    cursor: pointer;
    padding: 0px 20px;
    margin: 1rem;
}
  
.cus-btn .circle {
    width: 5px;
    height: 5px;
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    transition: 1000ms;
}
  
.cus-btn:hover {
    transition: 2000ms;
    background: rgb(128, 128, 128);
}

.cus-btn:hover .circle {
    height: 82%;
    width: 100%;
    left: 0;
    border-radius: 0;
    border-bottom: 2px solid #eee;
}

.cus-btn > a{
    text-decoration: none;
    color: #eee;
    z-index: 1;
}
/* ---------------------scrollbar styling-------------------------------*/
/* The emerging W3C standard
   that is currently Firefox-only */
   body {
    scrollbar-width: thin;
    scrollbar-color: rgb(41, 41, 41) rgb(192, 192, 192);
  }
  
  /* Works on Chrome/Edge/Safari */
  body::-webkit-scrollbar {
    width: 12px;
  }
  body::-webkit-scrollbar-track {
    background: rgb(192, 192, 192);
  }
  body::-webkit-scrollbar-thumb {
    background-color: rgb(41, 41, 41);
    border-radius: 20px;
    border: 3px solid rgb(192, 192, 192);
  }




/* ---------------------Gallery page-------------------------------*/

.showcase{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:  rgb(66, 66, 66);
    border: clamp(5px, 1vw, 10px) ridge #C29B6B;
    border-radius: 2px;
    max-width: 1100px;
    justify-content: space-evenly;
    width: 96%;
    padding: 1em 0 20% 0;
    text-align: center;
    align-items: center;
    
}

.showcase > article{
    /* min-width: 200px;
    min-height: 150px; */
    max-width: 450px;
    margin: 1rem 1em 1rem 1em ;
    /* test */
    width: 100%;
    height: auto;
}

.show-img{
    width: 100%;
    height: auto;
    border: 8px ridge	burlywood;
    margin-left: -8px;/* border pushes on right*/

}

.legend-img{
    text-align: center;
    font-size: larger;
    font-weight: 1000;
    color: rgb(185, 173, 157);
}

/* ---------------------Projects page-------------------------------*/
.content-proj{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding: 0 0 0 0;
    margin: 0;
}

.artic-proj{
    /* display: grid;
    grid-template-columns: 20% 20% 1fr 20%;
    grid-template-rows: 1fr; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 40px;
    justify-content: center;  
    align-content: center;
    
}

.artic-proj-img{
    max-width: 550px;
    max-height: 370px;/*for ios*/
    height: auto;
    width: 95%;
    border-radius: 10px;
    margin: 0 2% 2% 2%;
    border: 1px solid rgb(92, 92, 92);
}

.artic-proj-txt{
    max-width: 600px;
    height: 100%;
    flex: 1 1 400px;
    margin: 0 1rem; 
    text-align: justify;
}
.no-justify{
    text-align: left;
}

.link{
    text-decoration: none;
    color: rgb(85, 107, 207);
}

.lang{
    margin-top: -1rem;
    color: rgb(18, 130, 145);
    font-size: clamp(1.1rem, 2vw, 1.3rem); 
}

.separator-cont{
    width: 60%;
    padding-top: 10px;
    border-bottom: 2px solid rgb(192, 192, 192);
}
/* ---------------------sort-bar-------------------------------*/

.sort-bar{
    border-top: 1px solid rgb(192, 192, 192);
    border-bottom: 1px solid rgb(192, 192, 192);
    max-width: 1000px;
    width: 90%;
    padding: 10px 0 10px 0;
    margin-bottom: 2rem;
}

#sort-active{
    display: grid;
    grid-template-columns: 100px auto;
}

#btn-sort{
    width: 100px;
    border: none;
    border-right: 1px solid rgb(192, 192, 192);
    background-color: e7e7e7;
    font-size: large;
    cursor: pointer;
    margin-top: -5px;
    padding-top: 5px;
    padding-bottom: 5px;
    outline: none;
    background-color:  #FFFAF0;
    font-weight: bold;

}

#sorted{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#sorted > div{
    max-width: 100px;
    margin: 0 5px 5px 5px;
    border: 1px solid black;
    background-color: rgb(216, 216, 216);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

#sort-panel{
    background-color:#e7e7e7;
    width: 250px;
    position: absolute;
    visibility: hidden;
    border: 1px solid rgb(138, 138, 138);
    
}

.sort-list{
    list-style: none;
    margin-left: 5px;
    padding-left:0;
    max-height: 250px;
    overflow: scroll;
    overflow-x: hidden;
    margin-top: 10px;
}
.sort-list > li{
    padding: 1rem;
    margin-left: 0;
    border-top: 1px solid rgb(148, 148, 148);
    cursor: pointer;
}

.sort-list > li:hover{
    margin-left: 0px;
    padding-left: 10px;
    background-color: #c7c0b8;
}

.c_btn{

    float: right;
    margin:-5px 2% 0 0;
    padding: 0;
    height: 30px;
    width: auto;
}

/* --------------------Contacts-------------------------------*/

.logos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1200px;

}

.logo{
    padding: 1em;
    text-align: center;
    margin: 6vw 0 6vw 0;
}

.logos > div > a > img{
    max-width: 200px;
    width: 100%;
    height: auto;
    margin-bottom: 1em;
}

.logos > div > a{
    text-decoration: none;
    color: black;
}
